<title>View Image</title>
{{!-- <h1>Express Gallery</h1> --}}
<div id="wrapper">

  {{> header}}
  <hr id="divider">

</div>

<div id="single-wrapper">
  <div id="details">
    <h1>Image by: {{singleImage.user.username}}</h1>
    <img src="{{singleImage.link}}" alt="">
    <br>
    <p>{{singleImage.description}}</p>
  </div>
  
  <div id="other-images">
    <div class="spacer"></div>
    <div>Other Images from {{singleImage.user.username}}</div>
    <p />
    {{#each images}}
      <a href="/gallery/{{id}}">
        <img src="{{link}}" alt=""><p />
      </a>
    {{/each}}
  </div>
</div>
