<h1>Image Page</h1>
  <div class="gallery">
    <h3>Author: {{author}}</h3>
    <img src={{link}}>
    <h3>Description: {{description}}</h3>
    <h3>Id: {{id}}</h3>
  </div>
<body>
  <form action="/gallery/{{id}}?_method=Delete" method="POST">
  <input type="submit" value="Delete">
  </form>
{{!-- <form action="/gallery/{{id}}/edit?_method=Put" method="POST"></form> --}}
  <a href="/gallery/{{id}}/edit?_method=Put"> <input type="submit" value="Edit"></a>
  
</body>